<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p><span>{{request.session.visit}}</span>vistis</p>
    <p><span>{{request.session.count}}</span> times.</p>
    <a href="/add_two"><button> +2 </button></a>
    <a href="/destroy_session"><button>Reset</button></a>
    <form action="/add" method="post">
        {% csrf_token %}
        <label for="num">increase by</label>
        <input type="number" name="num">
        <button type="submit">send</button>
    </form>
</body>
</html>